* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}


/* Utilities */

.container {
    max-width: 1000px;
    margin: 100px auto;
    text-align: center;
    font-size: 1.5em;
}

#grid {
    height: 600px;
    width: 600px;
    border: 1px solid black;
    margin: 100px auto;
    display: none;
    flex-wrap: wrap;
}

#grid .cell {
    border: 1px solid black;
    cursor: pointer;
}

.safe {
    background-color: dodgerblue;
}

.bomb {
    background-color: red;
}